<p id="notice"><%= notice %></p>

<% if current_user && @user.user == "admin" %>
  <p>
    <strong>Name:</strong>
    <%= @wine.name %>
  </p>
<% else %>
  <h1>You do not have permission to access this page</h1>
  <%= link_to 'Back', root_path %>
<% end %>

